@use '../customs' as *; 
@use '../config/mixins' as *;

.bloque-1-section {
    padding: 5rem 0 5rem 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;

    @include media-breakpoint-up(md) {
        height: 30rem;

        .container {
            @include absCenter;

            p {
                height: 5rem;
                //font-size: 1.1rem;
            }

            .row {
                padding-top: 6rem;
            }
        }    
    } 

    @include media-breakpoint-up(md) {

        .container {

            p {
               // height: 5rem;
                font-size: 1.15rem;
            }
        }    
    } 

    .location {
        margin-bottom: 6rem;
    }

    i {
        color: $beige;
        font-size: 3.5rem;
        line-height: 1.5rem;
    }

    h5 {
        margin: 1.5rem 0 1rem 0;
        letter-spacing: 2px;
    }

    P {
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
    }
}