@use '../customs' as *; 

.music-section {
    height: 22rem;
    font-family: 'Montserrat', sans-serif;

    .container {
        padding-top: 3.5rem;
    }

    h4 {
        margin: 1.5rem 0 1rem 0;
        letter-spacing: 1px;
    }

    P {
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
    }

    @include media-breakpoint-up(md) {
        padding-top: 2rem;

        h4 {
            letter-spacing: 2px;
        }
        
        p {
            font-size: 1.1rem;
        }
    } 

    @include media-breakpoint-up(lg) {

        p {
            font-size: 20px;
        }
    } 
}