@use '../customs' as *; 
@use '../config/mixins' as *;
@use '../config/animations' as *;

.port-section {
    position: relative;
    height: 100vh;
    font-family: 'Satisfy', cursive;
    background-image: url("../images/greeting-card.jpg");
    background-position: center center;
    // background-attachment: fixed;         
    -webkit-background-size: 50rem;
    background-size: 50rem;                  //Tambien puede ser cover
    background-repeat: no-repeat;
    
    @include media-breakpoint-up(md) {
        -webkit-background-size: 60rem;
        background-size: 60rem;
    }
    
    .container {
        @include absCenter;
    }

    h1 {
        font-size: 4rem;
        line-height: 6.5rem;
        color: $dark-green;
        position: absolute;
        top: 50%;
        left: 50%; 
        -webkit-transform: translate(-40%, -60%);
        transform: translate(-40%, -60%);
        -webkit-animation: fade-in 1.5s ease-in-out; 
        animation: fade-in 1.5s ease-in-out; 
        

        @include media-breakpoint-up(lg) {
            font-size: 5rem;
            line-height: 7rem;
        } 
    }

    .arrow {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 70px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 20px;

        .chevron {
            position: absolute;
            width: $base * 3.5;
            height: $base * 0.8;
            opacity: 0;
            -webkit-transform: scale(0.3);
            transform: scale(0.3);
            -webkit-animation: move-chevron 3s ease-out infinite;
            animation: move-chevron 3s ease-out infinite;
            
            
            &:first-child {
                -webkit-animation: move-chevron 3s ease-out 1s infinite;
                animation: move-chevron 3s ease-out 1s infinite;
            }
              
            &:nth-child(2) {
                -webkit-animation: move-chevron 3s ease-out 2s infinite;
                animation: move-chevron 3s ease-out 2s infinite;
            }

              
            &:before {
               content: '';
               position: absolute;
               top: 0;
               height: 100%;
               width: 50%;
               background: $dark-green;
               left: 0;
               -webkit-transform: skewY(30deg);
               transform: skewY(30deg);
            }

            &:after {
               content: '';
               position: absolute;
               top: 0;
               height: 100%;
               width: 50%;
               background: $dark-green;
               right: 0;
               width: 50%;
               -webkit-transform: skewY(-30deg);
               transform: skewY(-30deg);
            }
        }
    }
}