@use '../customs' as *;

// Arrow Down
@keyframes move-chevron {
    25% {
     opacity: 1;
       }
    33% {
     opacity: 1;
     transform: translateY($base * 3.8);
    }
    66% {
     opacity: 1;
     transform: translateY($base * 5.2);
    }
    100% {
     opacity: 0;
     transform: translateY($base * 8) scale(0.5);
    }
}

// Fade
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0.33;
    }

    66% {
        opacity: 0.66;
    }

    100% {
        opacity: 1;
    }
}