@use '../customs' as *;

// Arrow Down
@-webkit-keyframes move-chevron { 
    0% {        
        opacity: 0;         
    }

    25% {
        opacity: 1;
    }

    33% {
        -webkit-transform: translateY($base * 3.8);
        transform: translateY($base * 3.8);
        opacity: 1;
    }

    66% {
        -webkit-transform: translateY($base * 5.2);
        transform: translateY($base * 5.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY($base * 8) scale(0.5);
        transform: translateY($base * 8) scale(0.5);
        opacity: 0;
    }
}

// Fade
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0.33;
    }

    66% {
        opacity: 0.66;
    }

    100% {
        opacity: 1;
    }
}