@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/animations' as *;

.contact {
    padding: 2rem 0 1rem 0;
    background-color: rgba(123, 143, 161, 0.2);

    label {
        font-size: 1.1rem;
    }

    .title {
        margin-bottom: 3rem;
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 2rem;
        }
    }

    .contact-info {
        margin-top: 2rem;

        ul {
            margin-top: 1rem;
            margin-left: 1rem;

            li {
                margin-top: 1rem;

                i {
                    height: 16px;
                    width: 16px;
                }

                a {
                    text-decoration: none;
                    margin-left: 1rem;
                    color: $gray-700;
                    font-size: 1.1rem;
                }
            }
        }
    }

    .icons-container {
        display: flex;
        justify-content: center;
        margin: 2rem auto;

        .media-icon {
            margin: 1rem;

            a {

                i {
                    font-size: 2rem;
                    color: $black;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .contact {

        label {
            font-size: 1.2rem;
        }

        .title {
            text-align: start;

            .heading-line {
                width: 40px;
                height: 4px;
                background-color: $black;
            }
        }

        .contact-info {
            padding-right: 0;

            ul {

                li {
                    display: flex;

                    i {
                        margin-top: 0.25rem;
                        font-size: 1.2rem;
                    }

                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .icons-container {
            margin-top: 3rem;
            flex-direction: column;
            align-items: center;

            .media-icon {

                a {

                    i {
                        font-size: 2.15rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .contact {

        .contact-info {

            ul {

                li {


                    i {
                        font-size: 1.25rem;
                    }

                    a {
                        font-size: 1.25rem;
                        margin-left: 1.5rem;
                    }
                }
            }
        }

        .icons-container {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 60%;

            .media-icon {

                &:hover {
                    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
                }

                a {

                    i {
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {

    .contact {

        .icons-container {

            .media-icon {

                a {

                    i {
                        font-size: 2.45rem;
                    }
                }
            }
        }
    }
}