@use '../custom' as *;
@use '../components/mixins' as *;

.contact {
    padding: 2rem 0 1rem 0;
    background-color: rgba(123, 143, 161, 0.2);

    .title {
        margin-bottom: 3rem;
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 2rem;
        }
    }

    .contact-info {
        margin-top: 2rem;

        ul {
            margin-top: 1rem;
            margin-left: 1rem;

            li {
                margin-top: 1rem;

                i {
                    height: 16px;
                    width: 16px;
                }

                a {
                    text-decoration: none;
                    margin-left: 1rem;
                    color: $gray-700;
                }
            }
        }
    }

    .icons-container {
        display: flex;
        justify-content: center;

        .media-icon {
            margin: 1rem;

            a {

                i {
                    font-size: 2rem;
                    color: $black;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .contact {

        .title {
            text-align: start;

            .heading-line {
                width: 40px;
                height: 4px;
                background-color: $black;
            }
        }

        .contact-info {
            padding-right: 0;

            ul {

                li {
                    display: flex;


                    i {
                        margin-top: 0.25rem;
                    }
                }
            }
        }

        .icons-container {
            margin-top: 3rem;
            flex-direction: column;
            align-items: center;
        }
    }
}

@include media-breakpoint-up(lg) {

    .contact {

        .icons-container {
            align-items: flex-end;
        }
    }
}