@use '../custom' as *;
@use '../components/mixins' as *;

footer {
    background-color: $black;

    .copy {
        color: $gray-300;
        font-weight: 400;
        font-size: 0.8rem;

        span {
            font-size: 0.8rem;
        }

        a {
            color: $gray-300;
            text-decoration: none;
            font-size: 0.8rem;
            margin: 0;
        }
    }
}

@include media-breakpoint-up(md) {

    footer {

        .copy {
            font-size: 1rem;

            span {
                font-size: 1rem;
            }

            a {
                font-size: 1rem;
            }
        }
    }
}