@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/animations' as *;

.intro {
    min-height: 100vh;
    position: relative;

    .navbar {
        a {
            font-weight: 500;
            color: $color-2;
        }
    }

    .logo {
        position: absolute;
        top: 0.5rem;
        right: 2rem;

        h2 {
            @include titleSm;
            color: $color-4;
        }
    }

    .hero {
        padding-top: 1.5rem;

        &--left {
            padding: 1rem;

            &--title {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                align-items: start;

                h1 {
                    @include titleSm;
                    color: $color-1;
                    background-color: $color-4;
                    padding-right: 1rem;
                }

                &--name {
                    clip-path: polygon(100% 0, 95% 21%, 100% 28%, 96% 39%, 100% 48%, 100% 74%, 96% 93%, 100% 100%, 0 100%, 0 0);
                }

                &--lastname {
                    clip-path: polygon(100% 0, 100% 13%, 95% 26%, 100% 41%, 98% 58%, 100% 76%, 98% 89%, 100% 100%, 0 100%, 0 0);
                }
            }

            h5 {
                @include subtitleSm;
            }

            button {
                display: none;
            }
        }

        &--right {
            display: flex;
            flex-direction: column;

            .image {

                img {
                    border-radius: 50%;
                }
            }

            &--icons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 4rem;
                width: 50%;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: $color-2;

                    i {
                        font-size: 2rem;
                    }
                }
            }

            &--circle {
                height: 450px;
                width: 570px;
                background-color: $color-1;
                position: absolute;
                z-index: -1;
                border-radius: 50%;
                top: -20rem;
                right: -20rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .intro {
        padding-bottom: 0;

        .navbar {
            padding: 1rem 0.5rem;
        }

        .hero {

            &--right {
                flex-direction: row;
                padding-top: 3rem;

                &--icons {
                    flex-direction: column;
                    padding-top: 0rem;
                    margin: 6rem 0;

                    a {

                        i {
                            font-size: 2.15rem;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .intro {
        padding-bottom: 5rem;
        overflow: hidden;

        .navbar {

            a {
                font-size: 1.2rem;
                font-weight: 500;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    display: block;
                    width: 75%;
                    height: 2px;
                    background-color: $color-4;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }

                &:hover::before {
                    transform: scaleX(1);
                }
            }

            li:nth-child(n+2) {
                margin-left: 1rem;
            }
        }

        .logo {
            top: 1rem;
            right: 4rem;
        }

        .hero {
            flex-direction: row;
            margin-top: 10vh;

            &--left--line {
                position: absolute;
                top: 0;
                left: 0;
                background-image: url('/assets/bg/ttten-fade-right-1.svg');
                height: 100%;
                width: 10rem;
            }

            &--right {
                flex-direction: column;
                padding-top: 0;

                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 50vh;
                        border-radius: 50%;
                    }
                }

                &--icons {
                    flex-direction: row;
                    width: 40%;
                    margin: 4rem 0;

                    a {
                        cursor: pointer;
                        text-decoration: none;
                        transition: all ease-in-out 0.25s;

                        &:hover {
                            animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
                        }

                        i {
                            font-size: 2.3rem;
                        }
                    }
                }

                &--circle {
                    height: 600px;
                    width: 600px;
                    background-color: $color-1;
                    position: absolute;
                    z-index: -1;
                    border-radius: 50%;
                    top: -20rem;
                    right: -20rem;
                }
            }
        }

    }
}

@include media-breakpoint-up(xl) {

    .intro {

        .navbar {

            a {
                font-size: 1.25rem;
            }
        }

        .hero {

            &--right {

                &--icons {

                    a {


                        i {
                            font-size: 2.45rem;
                        }
                    }
                }
            }
        }

    }
}

@media (min-width: 1600px) {
    .intro {

        .hero {

            &--left {

                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}