@use '../custom' as *;
@use '../components/mixins' as *;

.intro {
    min-height: 100vh;
    position: relative;

    .logo {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    .hero {
        padding-top: 1.5rem;

        &--left {
            padding: 1rem;
        }

        &--right {
            display: flex;
            flex-direction: column;

            .image {

                img {
                    border-radius: 50%;
                }
            }

            &--icons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 4rem;
                width: 50%;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: $black;

                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    &--svg {
        position: absolute;
        bottom: -25%;
        height: 60vh;
        width: 40vw;

        img {
            opacity: 0.5;
        }
    }
}

@include media-breakpoint-up(md) {

    .intro {
        padding-bottom: 0;

        .navbar {
            padding: 1rem 0.5rem;
        }

        .hero {

            &--right {
                flex-direction: row;
                padding-top: 3rem;

                &--icons {
                    flex-direction: column;
                    padding-top: 0rem;
                    margin: 6rem 0;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .intro {
        padding-bottom: 5rem;

        .logo {
            right: 4rem;
        }

        .hero {
            flex-direction: row;
            margin-top: 10vh;

            &--right {
                flex-direction: column;
                padding-top: 0;

                .image {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 50vh;
                        border-radius: 50%;
                    }
                }

                &--icons {
                    flex-direction: row;
                    width: 30%;
                    margin: 4rem 0;

                    a {
                        cursor: pointer;
                        text-decoration: none;
                        color: $black;

                        i {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

    }
}

@include media-breakpoint-up(xlg) {}