@use '../custom' as *;
@use '../components/mixins' as *;

.intro {
    min-height: 100vh;
    position: relative;

    .navbar {
        padding: 1rem 0.5rem;

        ul {

            li {

                a {
                    font-weight: 400;
                }
            }
        }
    }

    .logo {
        position: absolute;
        top: 1rem;
        right: 4rem;
    }


    .hero {
        @include absoluteCenter;

        p {
            font-weight: 400;
        }

        &--left {
            padding: 1rem;
        }

        &--right {
            display: flex;
            flex-direction: column;

            .image {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: 50vh;
                    border-radius: 50%;
                }
            }

            &--icons {
                padding-top: 4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 30%;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: $black;

                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    &--svg {
        position: absolute;
        bottom: -25%;
        height: 60vh;
        width: 40vw;

        img {
            opacity: 0.5;
        }
    }
}