@use '../custom' as *;
@use '../components/mixins' as *;

.projects {

    .title {
        margin-bottom: 2rem;
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 2rem;
        }
    }

    .card {
        margin: 1rem 2.5rem;
        cursor: pointer;

        .image-container {
            position: relative;

            img {
                border-radius: 10%;
            }

            .number {
                height: 3rem;
                width: 3rem;
                position: absolute;
                bottom: -5%;
                right: -5%;
                background-color: gray;
                border-radius: 0% 100% 0% 100% / 76% 27% 73% 24%;
                z-index: 100;

                h2 {
                    color: $white;
                    @include absoluteCenter;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .projects {

        .title {
            text-align: start;

            .heading-line {
                width: 40px;
                height: 4px;
                background-color: $black;
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .projects {

        .title {
            transform: translateX(-20vw);

            &.showTitle {
                transform: translateX(0);
                transition: ease-in all 0.75s;
            }

            .heading-line {
                width: 40px;
                height: 4px;
                background-color: $black;
            }
        }

        .card {
            width: 15rem;

            .hub-img {
                @include flexCenter;

                .size {
                    width: 8rem;
                    height: 10rem;
                }
            }
        }
    }
}