@use '../custom' as *;
@use '../components/mixins' as *;

.projects {
    position: relative;

    .title {
        margin-bottom: 2rem;

        .heading-line {
            width: 40px;
            height: 4px;
            background-color: $black;
        }
    }

    .card {
        width: 15rem;
        cursor: pointer;
        position: relative;

        img {
            width: 15rem;
            height: 15rem;
            border-radius: 10%;
        }

        .number {
            height: 3rem;
            width: 3rem;
            position: absolute;
            bottom: 27%;
            right: -5%;
            background-color: gray;
            border-radius: 10%;
            z-index: 100;

            h2 {
                color: $white;
                @include absoluteCenter;
            }
        }
    }
}