@use '../custom' as *;
@use '../components/mixins' as *;

.services {
    min-height: 50vh;
    display: flex;
    align-items: center;

    &--title {
        text-align: center;
    }

    &--card {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            padding-bottom: 1rem;
        }

        h3,
        p {
            text-align: center;
            padding-bottom: 0.5rem;
        }
    }
}