@use '../custom' as *;
@use '../components/mixins' as *;

.services {
    min-height: 50vh;
    position: relative;

    &--title {
        @include flexCenter;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;

        h1 {
            font-weight: 700;
            font-size: 2rem;
            color: $color-1;
        }

        &--main {
            background-color: $color-4;
            width: 50%;
            clip-path: polygon(100% 0, 95% 11%, 100% 23%, 100% 41%, 92% 49%, 100% 60%, 95% 83%, 100% 100%, 0 100%, 0 0);
        }

        &--services {
            background-color: $color-4;
            width: 70%;
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 85%, 4% 69%, 0 60%, 5% 39%, 0 21%, 4% 13%, 0 0);
        }
    }

    &--card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

        img {
            height: 5rem;
            padding-bottom: 1rem;
        }

        h3 {
            text-align: center;
            padding-bottom: 0.5rem;
        }

        p {
            text-align: center;
            padding: 0 10% 0.5rem 10%;
        }
    }
}


@include media-breakpoint-up(lg) {

    .services {
        display: flex;
        align-items: center;

        // &--svg {
        //     position: absolute;
        //     bottom: -25%;
        //     width: 100%;

        //     img {
        //         opacity: 0.5;
        //     }
        // }

        &--line--left {
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url('/assets/bg/ttten-fade-right-1.svg');
            height: 100%;
            width: 10rem;
        }

        &--line--bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url('/assets/bg/ttten-fade-top.svg');
            height: 10rem;
            width: 100%;
        }
    }

    .tag {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 1.75s;
    }

    .tag.visible {
        opacity: 1;
        transform: translate(0, 0);
    }
}