@use '../custom' as *;
@use '../components/mixins' as *;

.tech {

    .carousel {

        .image-container {

            img {
                height: 3rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) {

    .tech {
        height: 40vh;
        padding: 4rem 0;
        position: relative;

        &--line--right {
            position: absolute;
            bottom: 0;
            right: 0;
            background-image: url('/assets/bg/ttten-fade-left.svg');
            height: 100%;
            width: 10rem;
        }

        .carousel {

            .image-container {

                img {
                    height: 5rem;
                }
            }
        }
    }
}

@media (min-width: 1600px) {

    .tech {

        .carousel {
            padding-top: 2rem;
        }
    }
}