@use '../custom' as *;
@use '../components/mixins' as *;

.tech {

    .carousel {

        .image-container {

            img {
                height: 3rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {

    .tech {
        height: 40vh;
        padding: 4rem 0;

        .carousel {

            .image-container {

                img {
                    height: 5rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {}