@use 'custom' as *;

// IMPORT COMPONENTS
@use 'components/buttons';
@use 'components/mixins';
@use 'components/animations';

// IMPORT SECTIONS
@use 'sections/intro';
@use 'sections/services';
@use 'sections/about';
@use 'sections/projects';
@use 'sections/tech';
@use 'sections/contact';
@use 'sections/footer';

// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

body {
    color: $color-2;

    p {
        font-size: 1.1rem;
    }

    @include media-breakpoint-up(md) {
        p {
            font-size: 1.2rem;
        }
    }

    @include media-breakpoint-up(xl) {
        p {
            font-size: 1.25rem;
        }
    }
}

section {
    padding-bottom: 5rem;
}